---
layout: default
title: Add Organization
permalink: /add-organization/
---
{% include breadcrumbs.html parent="Organizations" %}

<div class="alert alert-success" role="alert" data-hook="alert-success" style="display: none;">
  L'organizzazione <a href="#" data-hook="commit-url">è stata creata</a> e la pagina è in fase di generazione.
  Sarà disponibile a momenti <a href="#" data-hook="organization-url"></a>
</div>

<div class="alert alert-danger" role="alert" data-hook="alert-error" style="display: none;">
  C'è stato un errore nel salvare la pagina
</div>

<div class="row" data-hook="edit-view">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Aggiungi Organizzazione</h1>
    {% include organization-form.html %}
  </div>
</div>
